.dash {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.metricsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#metricsblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#metricsbutton {
  width: 190px;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin: 20px;
  color: #893FAC;
  background-color: rgb(233, 224, 224);
}

#systemblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

#systembutton {
  width: 190px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin: 20px;
  background-color: rgb(246, 237, 237);
  color: #893FAC
}
