.metrics {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1px;
  width: 100%;
}

.numberBox-blue {
  background: linear-gradient(to right, rgb(60, 102, 251), rgb(17, 0, 255));
}

.numberBox-orange {
  background: linear-gradient(to right, rgb(253, 164, 67), rgb(255, 111, 0));
}

.numberBox-pink {
  background: linear-gradient(to right, rgb(251, 75, 230), rgb(255, 0, 225));
}

.numberBox-default {
  background: linear-gradient(to right, rgb(99, 99, 99), rgb(64, 64, 64));
}

.numberBox-blue,
.numberBox-orange,
.numberBox-pink,
.numberBox-default {
  color: #fff;
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: transform 0.2s ease;
  box-shadow: 3px 3px 15px rgb(0, 0, 0);
}

.numberBox-blue:hover,
.numberBox-orange:hover,
.numberBox-pink:hover,
.numberBox-default:hover {
  transform: translateY(-2.5px) translateX(-2.5px);
}

.numberBox-value {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 100%;
  font-size: 60px;
  padding-top: 18px;
}

.numberBox-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 7px;
  width: 100%;
  overflow-wrap: break-word;
}
